{{#partial "content"}}
    <h1>Uh oh....</h1>
    <p>We couldn't find what you were looking for...</p>
{{/partial}}

{{#partial "title"}}
    404 Error: Not Found
{{/partial}}

{{> base.hbs}} <!-- Inherit template from base.hbs -->